/* .applicationDashCard {
  width: 90%;
  margin: 15px auto;
  border-left: 6px solid var(--green1);
  box-shadow: 1px 3px 8px #888888;
}
.applicationDashCard:hover {
  border-left: 6px solid var(--blue1);
}
.offerContent {
  padding: 10px;
}
.applicationDashInfoTop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--green1);
}

.applicationDashText p {
  margin-top: 20px;
  margin-bottom: 10px;
}
.priceOffers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}
.priceOffers span {
  color: var(--blue1);
}
.priceOffers > * {
  padding-right: 10px;
}
.offerDate {
  font-size: 12px;
  margin-top: 10px;
}
.applicationDashActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.applicationActionBTN {
  background-color: var(--green1);
  display: flex;
  justify-items: center;
  color: var(--shade1);
  padding: 5px 10px;
  cursor: pointer;
}
.decline {
  background-color: var(--orange1);
}
.applicationRefreshInbox {
  cursor: pointer;
  color: var(--green1);
  font-size: 20px;
}
.applicationRefreshInbox:hover {
  transform: rotate(300deg);
  color: var(--orange1);
  transition-duration: 5s;
}
.offerWhoLink {
  color: var(--shade6);
  text-decoration: none;
} */
.applicationDashCardLink {
  color: black;
  text-decoration: none;
}
.applicationDashCard {
  background-color: white;
  filter: drop-shadow(3px 3px 5px silver);
}
.applicationDashCardContent {
  padding: 10px;
}
.applicationDashCardInfo {
  display: flex;
  justify-content: space-between;
}
.applicationDashCardImage {
  width: 80px;
  border-radius: 50%;
}
.applicationDashCardAvatarName {
  display: flex;
  align-items: center;
}
.applicationDashCardName {
  padding-left: 20px;
  color: rgb(87, 87, 87);
}
.applicationDashCarPrice {
  background-color: rgb(243, 99, 99);
  width: 60px;
  height: 60px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 400;
}
.applicationDashCardTitle {
  padding: 10px 0;
}
