.tasksRoot {
  margin-top: 20px;
  height: 100vh;
}
.tasksRoot {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.taskCardWrapper {
  width: 80%;
  margin: 30px auto;
}
.taskCard {
  border: 1px solid rgb(236, 236, 236);
  margin: 10px 0;
  background-color: white;
  transition: 0.3s;
}
.taskCard:hover {
  background-color: rgb(253, 248, 221);
  filter: drop-shadow(5px 5px 5px rgb(216, 216, 216));
}
.taskCorner {
  position: relative;
}
/* .taskCardContent {
  margin-top: 10px;
} */
.taskCardContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0 10px 10px 10px;
}
.taskCornerImage {
  width: 30px;
}
.taskUser {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.taskUserIcon {
  color: green;
  padding-right: 5px;
}
.taskTitle h2 {
  font-size: 20px;
}
.taskTitle p {
  font-size: 15px;
  margin-top: 5px;
}
.taskInfo {
  margin: 0 auto;
}
.taskInfoDetails {
  display: flex;
  padding: 4px;
  align-items: center;
}
.taskPriceIcon {
  color: green;
  padding-right: 5px;
}
.taskTownIcon {
  color: rgb(0, 204, 255);
  padding-right: 5px;
}
.taskTimeIcon {
  color: orange;
  padding-right: 5px;
}
.taskTime p {
  font-size: 13px;
}
.taskFavIcon {
  color: red;
  padding-right: 5px;
}
.taskFav:hover {
  cursor: pointer;
}
.taskCTA {
  background-color: red;
  display: inline-block;
  padding: 10px 20px;
}
.taskCTA:hover {
  background-color: rgb(252, 77, 77);
}
.applyBtn {
  color: var(--shade1);
  background-color: rgb(252, 77, 77);
  border: none;
  padding: 5px 30px;
  font-weight: 600;
  text-decoration: none;
}
.applyBtn:hover {
  background-color: rgb(247, 101, 101);
}
.searchInputWrapper {
  margin: 0 auto;
}
.searchInput {
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.selectTab {
  width: 100%;
  margin: 0 auto;
}

.searchButtons {
  border: none;
  color: var(--shade1);
  background-color: rgb(252, 77, 77);
  width: 90px;
  margin-left: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 8px #888888;
}
.searchButtons:hover {
  background-color: rgb(253, 101, 101);
}
.applyModalFormWrapper {
  background-color: rgba(39, 39, 39, 0.747);
  position: fixed;
  top: 0;
  z-index: 101;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.applyModalForm {
  width: 40%;
  background-color: var(--shade1);
  padding: 40px;
}
.applyInputs {
  margin: 20px 0 10px 0;
}
.closeModal {
  color: var(--orange1);
  cursor: pointer;
  float: right;
}
.applyForm h6 {
  color: var(--shade5);
}
.applyFormItem {
  margin-top: 15px;
}
.applyFormActions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  color: white;
  background-color: rgb(255, 66, 66);
  font-size: 10px;
  cursor: pointer;
}

.loadMoreBTN {
  color: white;
  width: 50%;
  background-color: rgb(255, 66, 66);
  text-align: center;
  margin: 0 auto;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 100px;
}
.loadMoreBTN:hover {
  background-color: rgb(248, 107, 107);
}
.NoTasks {
  text-align: center;
  margin-top: 20vh;
}
.singleTaskCard {
  width: 80%;
  margin: 0 auto;
}
.singleTaskWrapper {
  width: 100%;
  margin-top: 30px;
}
.singleTaskContent {
  width: 100%;
  margin: 0 auto;
}
.singleTaskCard {
  padding: 20px;
  background-color: white;
  filter: drop-shadow(10px 10px 10px rgb(207, 207, 207));
}
.singleTaskInfo {
  display: flex;
  justify-content: space-between;
}
.singleTaskInfoBlock {
  display: flex;
}
.singleTaskActionBTN {
  background-color: rgb(255, 66, 66);
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}
.singleTaskTownIcon,
.singleTaskTimeIcon,
.singleTaskFavIcon {
  padding: 0 5px;
  margin: 0 10px;
  border-left: 1px solid rgb(172, 172, 172);
}
.singleTaskTownIcon {
  color: rgb(0, 204, 255);
}
.singleTaskTimeIcon {
  color: orange;
}
.singleTaskFavIcon {
  color: red;
}
.singleTaskPriceIcon {
  color: green;
  padding-right: 10px;
}
