.tasksRoot {
  margin-top: 20px;
}
.tasksRoot {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.taskCardWrapper {
  /* height: 80vh;
  overflow-y: scroll; */
}
.taskCard {
  width: 70%;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 8px #888888;
  border-left: 6px solid var(--green2);
}

.taskCard:hover {
  border-left: 6px solid var(--blue1);
  background-color: var(--shade1);
}
.taskCardContent {
  padding: 20px;
}
.taskCardTitle {
  font-size: 20px;
  color: var(--shade5);
  margin-bottom: 10px;
}
.taskCardInfo1 {
  display: flex;
  justify-content: flex-start;
}
.taskCardItem {
  margin-right: 20px;
  font-size: 12px;
}
.taskCardItem span {
  color: var(--green1);
}
.price {
  color: var(--orange1);
  font-weight: 600;
}
.taskCardBody {
  margin-top: 10px;
  font-size: 13px;
}
.taskCardBody span {
  color: var(--blue1);
}
.hour {
  margin-top: 10px;
  margin-bottom: 10px;
}
.taskCardAction {
  display: flex;
  justify-content: flex-end;
}

.taskActionBtn {
  font-size: 10px;
  color: var(--orange1);
  margin-right: 10px;
  cursor: pointer;
}

.applyBtn {
  color: var(--shade1);
  background-color: var(--green1);
  border: none;
  padding: 5px 30px;
  font-weight: 600;
  text-decoration: none;
}
.applyBtn:hover {
  background-color: var(--green2);
}
.searchInputWrapper {
  margin: 0 auto;
}
.searchInput {
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.selectTab {
  width: 100%;
  margin: 0 auto;
}
.searchButtons {
  border: none;
  color: var(--shade1);
  background-color: var(--green1);
  width: 90px;
  margin-left: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 8px #888888;
}
.searchButtons:hover {
  background-color: var(--green2);
}
.closeSearch {
  border: none;
  background-color: var(--orange1);
  padding: 3px 8px;
  color: var(--shade1);
  cursor: pointer;
}
.closeSearch:hover {
  background-color: var(--orange0);
}
.applyModalFormWrapper {
  background-color: rgba(39, 39, 39, 0.747);
  position: fixed;
  top: 0;
  z-index: 101;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.applyModalForm {
  width: 30%;
  background-color: var(--shade1);
  padding: 40px;
}
.applyInputs {
  margin: 20px 0 10px 0;
}
.closeModal {
  color: var(--orange1);
  cursor: pointer;
  float: right;
}
.applyForm h6 {
  color: var(--shade5);
}
.applyFormItem {
  margin-top: 15px;
}
.applyFormActions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  color: var(--shade1);
  background-color: var(--green1);
  font-size: 10px;
  cursor: pointer;
}
.singleTaskCard {
  width: 70%;
}
.loadMoreBTN {
  text-align: center;
  width: 10%;
  margin: 50px auto;
  background-color: var(--green1);
  padding: 20px 40px;
  color: var(--shade1);
  cursor: pointer;
  transition: 1s;
}
.loadMoreBTN:hover {
  background-color: var(--green2);
  width: 25%;
}
.NoTasks {
  text-align: center;
  margin-top: 20vh;
}
/* .quickAddTaskFormWrapper {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #3636365e;
}
.quickAddTaskFormContent {
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
.closeQuickAddTaskForm {
  font-size: 30px;
  transition: 1s;
  cursor: pointer;
}
.closeQuickAddTaskForm:hover {
  transform: rotate(360deg);
}
.quickAddTaskBtn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 60px;
  color: var(--green1);
  transition: 2s;
  cursor: pointer;
}
.quickAddTaskBtn:hover {
  transform: rotate(360deg);
} */
