.dashServicesTitle {
  text-align: center;
  padding: 20px 0 20px 0;
  color: var(--shade6);
  font-weight: 900;
  background-color: var(--shade1);
  width: 100%;
}
.dashServicesCard {
  margin: 20px;
  background-color: white;
  filter: drop-shadow(3px 3px 5px silver);
}
.dashServicesCard:hover {
  filter: drop-shadow(5px 5px 5px silver);
}
.dashServicesCardCategory {
  padding: 10px;
}
.dashServicesCardCategory h3 {
  color: var(--shade6);
  margin-bottom: 5px;
}
.dashServicesCardCategory h5 span {
  color: rgb(255, 104, 104);
}
.dashServicesCardCategory p {
  padding-top: 15px;
  font-size: 13px;
}
.dashServicesAction {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.dashServicesActionBTN {
  background-color: rgb(255, 104, 104);
  color: var(--shade1);
  padding: 13px 50px;
  border-radius: 3px;
  cursor: pointer;
}
.dashServicesActionBTN:hover {
  background-color: rgb(255, 46, 46);
}
.serviceOptionsTab {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}
.serviceOptionsTab p {
  padding-left: 15px;
  color: #888888;
}
.servicesFormBtn {
  cursor: pointer;
  padding: 10px 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--shade1);
  background-color: rgb(253, 103, 103);
  font-weight: 500;
  margin-bottom: 20px;
}
.servicesFormBtn:hover {
  background-color: rgb(250, 61, 61);
}
