.dashboardContent {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.userSideMenu {
  width: 300px;
  height: 100vh;
  background-color: rgb(218, 218, 218);
}
.userSideMenuProfile {
  border-bottom: 1px solid rgb(201, 201, 201);
}
.userSideMenuProfileAvatar {
  background-image: url("/images/sideMenuBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}
.userSideMenuProfileAvatarBox {
  display: flex;
}
.userSideMenuProfileImage {
  position: relative;
  top: 80px;
  margin: 0px auto;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
.userSideMenuInformation {
  display: flex;
  color: #7a7a7a;
}
.userSideMenuInformationBox {
  margin: 0 auto;
  padding: 10px 0;
}
.userSideMenuName {
  margin-bottom: 7px;
}
.userSideMenuName h4 {
  font-size: 24px;
  color: rgb(59, 59, 59);
}
.userSideMenuInformationItem {
  padding-top: 5px;
}
.userSideMenuPhone,
.userSideMenuEmail,
.userSideMenuUpdated,
.userSideMenuCreated,
.userSideMenuName {
  display: flex;
  align-items: center;
}
.userSideMenuItems {
  margin-left: 50px;
}
.userSideMenuItems p {
  font-weight: 600;
  color: rgb(134, 134, 134);
  padding-top: 20px;
  transition: 0.3s;
}
.userSideMenuItems p:hover {
  color: rgb(41, 41, 41);
}
.userSideMenuItem {
  cursor: pointer;
}
.subOption {
  display: none;
  color: #ff140b;
  transition: 1s;
}
.userSideMenuItemOption:hover .subOption {
  display: block;
  padding-left: 25px;
  transition: 1s;
  color: #ff140b;
}
.dashboardContentMenu {
  display: flex;
}
.menuToggleWrapper {
  margin-top: 25%;
}
.menuToggle {
  font-size: 20px;
  cursor: pointer;
  padding: 70px 2px;
  border-radius: 50px;
  background-color: rgb(218, 218, 218);
  transition: 0.3s;
  opacity: 0.3;
}
.menuToggle:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px rgb(190, 190, 190));
}
.additionalWrapper {
  width: 100%;
}
.additionalContent {
  display: flex;
}
.additionalInfoCard {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 10px auto;
  color: white;
  filter: drop-shadow(3px 3px 5px rgb(230, 230, 230));
  transition: 0.3s;
}
.additionalInfoCard:hover {
  filter: drop-shadow(3px 3px 5px rgb(197, 197, 197));
}
.additionalInfoCard p,
.additionalInfoCard h3 {
  filter: drop-shadow(3px 3px 4px rgb(66, 66, 66));
}
.additionalInfoCard p {
  font-size: 10px;
  letter-spacing: 0.5px;
}
.completedJobs {
  background-color: #a7d5ff;
}
.userStatus {
  background-color: #ffdca7;
}
.userStatus p {
  font-size: 15px;
}
.usersToken {
  background-color: #ffa7a7;
}
.usersToken p {
  font-size: 15px;
}
.ongoingJobs {
  background-color: #c3ffa7;
}
.dashboardContentDisplay {
  width: 70%;
  margin: 0 auto;
}
