.dashMenu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.dashMenuItem {
  font-size: 14px;
  padding: 5px 15px;
  margin: 1px 0px;
  background-color: var(--green1);
  border: none;
  color: var(--shade1);
  cursor: pointer;
}
.dashMenuItem:hover {
  background-color: var(--green2);
}
.dashMainContentWrapper {
  width: 97%;
  margin: 0 auto;
}
.dashFormWrapper {
  width: 97%;
  margin: 0 auto;
}
@media screen and (min-width: 780px) {
  .dashMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    width: 8%;
  }
  .dashMenuWrap {
    display: grid;
    place-items: center;
    border-right: 1px solid var(--lightBorder);
  }
  .dashMenuItem {
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    padding: 15px 5px;
    margin: 1px 4px 1px 0;
    background-color: var(--green1);
    border: none;
    color: var(--shade1);
    transition: 0.3s;
    transition-delay: 0.3s;
  }
  .dashMenuItem:hover {
    background-color: var(--green2);

    margin: 10px 0;
  }
  .dashboardContent {
    margin: 20px;
    box-shadow: 1px 3px 8px #888888;
  }
  .profileFormComponentWrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
  }
  .dashFormWrapper {
    border-left: 1px solid var(--lightBorder);
    border-bottom: 1px solid var(--lightBorder);
    height: 100vh;
  }
}
.dashMenuItemIcon {
  color: var(--green3);
}
