.mainWrapper {
  /* position: absolute; */
  background-color: rgb(22, 22, 34);
  width: 100%;
}
.mainMenuContent {
  display: flex;
  justify-content: space-between;
}
.topBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItemPhoto {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
.menuLink {
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  display: inline-block;
  transition: 0.3s;
}
.menuBurger {
  display: none;
  place-items: center;
  cursor: pointer;
  padding-right: 20px;
  color: var(--lightGreen);
}
.mobileMenuWrapper {
  background-color: rgb(48, 48, 48);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 99;
}
.mobileMenu {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobileMenuItemDiv {
  padding: 20px;
}
.mobileMenuItem {
  font-size: 24px;
  color: rgb(221, 221, 221);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}
.mobileMenuItem:hover {
  color: var(--lightGreen);
  transition: 0.3s;
}

.redColor {
  color: var(--redDark);
}
.menuItemProfileLink {
  display: flex;
  align-items: center;
  color: white;
  padding-right: 20px;
}
/* @media screen and (min-width: 780px) {
  .menuBurger {
    display: none;
  }
  .menuItemProfile {
    display: block;
  }
  .menuWrap {
    display: block;
    padding-right: 5%;
  }

  .menuLink:hover {
    background-color: var(--lightGreen);
    color: white;
  }
} */
