.loginWrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url("/images/bannerImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginAvatar {
  width: 50px;
}
.loginTitle {
  margin: 10px 0 30px 0;
}
.form {
  max-width: 700px;
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 5px rgb(192, 192, 192));
  width: 30%;
  min-width: 250px;
  margin: 0 auto;
  padding: 100px 50px;
}
.formItem {
  margin: 10px 0;
}
.formItemLogin {
  width: 100%;
}
.actions {
  /* font-size: 10px; */
  display: flex;
  justify-content: space-between;
}
.actions Link {
  margin: 100px;
}
.linkBtn {
  margin: 10px 0;
  text-decoration: "none";
}
.loginLink {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.loginBox {
  background-color: white;
  filter: drop-shadow(3px 3px 5px rgb(192, 192, 192));
  border-radius: 5px;
}
.signupButton {
  background-color: rgb(241, 74, 74);
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-decoration: none;
  color: var(--shade1);
}
.signupButton:hover {
  background-color: var(--green2);
}
.formButtonLogin {
  width: 100%;
  border: none;
  background-color: rgb(255, 111, 111);
  color: var(--shade1);
  padding: 10px;
  cursor: pointer;
  transform: 0.3s;
}
.formButtonLogin:hover {
  background-color: rgb(241, 74, 74);
}
